*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*--------------- variables -----------------*/
:root {
    /* theme font-family */
    --Anton: 'Anton', sans-serif;
    --Abel: 'Abel', sans-serif;
    --blueish: rgb(83, 83, 175);
    --redish: rgb(151, 5, 5);
    --bgcolor: linear-gradient(130deg, #fdcbf1 0%, #fdcbf1 20%, #e6dee9 100%)

}


/*------------------- body ---------------------*/
html {
    background-image: var(--bgcolor);
    background-repeat: no-repeat;
    background-clip: content-box;
    background-size: auto;
    margin:0 auto;
    font-family:var(--Abel);
}
body {
    height: 100vh;
}

/*----------------------- logo ------------------------*/
.logo {
    font-size: 3rem;
    font-family: var(--Anton);
    padding: 1rem;
    color:var(--blueish);
}


/*-------------------- main part ---------------------*/
main{
    padding: 3%;
}


/*---------------------- form ------------------------*/
.container {
    display: flex;
    justify-content: space-between;
    background-color:#fff;
    padding: 1%;
    border-radius: 5px;
}

/* Input */
#input[type='text'] {
    flex-grow: 1;
    height: 3%;
    background-color: #fff;
    font-size: 1rem;
    font-family: var(--Abel);
    outline: 0;
    border:none;
}

/* Add button */
#add{
    text-align: right;
    font-size: 2rem;
    background-color:#fff;
    outline: 0;
    border:none;
    color:var(--blueish);
}
#add:hover{
    cursor: pointer;
    transform: scale(1.2, 1.2);
}

/*-------------------- list of tasks ----------------------*/
.toDoList {
    background-color:#fff;
    border-radius: 5px;
    margin-top:0.5rem ;
    padding: 0.5rem 0.5rem;
    height: 100%;
}

/* ol */
#myList{
    padding-left: 0;
    list-style: none;
}

/* li */
.toDo {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #888;
    padding: 0px 0;
    font-size: 1rem;
    color: #595959;
}
.toDoItem{
    flex-grow: 1;
}
/* start delete and edit buttons */
.start,
.trash,
.edit {
    float: right;
    padding: 10px 5px ;
    /* padding: 0.5% 2% 2% 0.5%;  */
    color:var(--blueish);
}
.start:hover {
    color:rgb(41, 124, 83);
    cursor: pointer;
    transform: scale(1.5, 1.5);
}
.edit:hover {
    cursor: pointer;
    transform: scale(1.5, 1.5);
}
/* trash button*/
.trash:hover {
    cursor: pointer;
    color:rgb(151, 5, 5);
    transform: scale(1.5, 1.5);
}

/* Delete all button */
.deleteAll{
    display: flex;
    text-align: right;
    margin-top: .5rem;
    padding: 1% 1%;
    cursor: pointer;
    font-size: 0.9rem;
    color: #fff;
    background-color:var(--blueish);
    outline: 0;
    border:none;
}
.deleteAll:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
    background-color:var(--redish);
}
.hidden {
    display: none;
}


/*---------------- items done / in progress-------- */
.grid_container{
    display: flex;
}

.done ,
.inProgress {
    margin:2%;
    padding:5px 25px;
    width:30%;
    height:40vh;
    border-radius: 5px;
    background-color:var(--blueish);
    color: #fff;
}

.placeHolder, .progressing{
    color:var(--bgcolor);
    opacity: 0.5;
    line-height: 1.5rem;
    font-style: italic;
    font-family: var(--Abel);
}

.progressing{
    border-bottom: 1px solid #888;
}

/*---------------------------- Responsive Design------------------------*/
@media only screen and (max-width: 600px){
    .logo{
        font-size: 1rem;
        width:70%;
    }
    #input {
        width: 90%;
    }
    .toDo {
        width: 100%;
    }
    .grid_container {
        display: grid;
        align-items: center;
    }
    .done, .inProgress {
        width:90%;
        height:20vh;
    }
}